*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
/* #box1{
    height: 200px;
    width: 200px;
    background-color: crimson ;
    transform: translate(-50%,-50%);
    clip-path: polygon(50% 43%, 90% 20%, 100% 60%, 51% 99%, 51% 99%, 0% 60%, 10% 20%);
    position: absolute;
    top: 50%;
    left: 50%;
    
} */
/* #box2{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    position: absolute;
    left: 50%;
    top:50%;
   z-index: 10;
    
}
#box3{
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 9;
} */

/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
     flex-wrap: nowrap;
     overflow: auto;
}
#child1{
    height: 200px;
    width: 200px;
    background-color:darkcyan;
    border: 3px solid white;
   flex-shrink: 0; 
   
}
#child2{
    height: 200px;
    width: 200px;
    background-color:lightblue;
    border: 3px solid white;
    flex-shrink: 0;
    
}
#child3{
    height: 200px;
    width: 200px;
    background-color:aquamarine;
    border: 3px solid white;
     flex-shrink: 0;
}
#child4{
    height: 200px;
    width: 200px;
    background-color:burlywood;
    border: 3px solid white;
     flex-shrink: 0;
    
} */

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    overflow: auto;
    align-items: baseline;
    justify-content: center;
    

}
.card{
    height: 300px;
    width:250px ;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.card img{
height: 100px;
width: 100px;
object-fit: cover;
border-radius: 50%;
}
.card h2{
    font-weight: 100;
    font-size: 26px;
}
.card p{
    font-size: 15px;
    font-weight: 500;
    color:darkslategrey;
    text-align: center;
}
.card button{
    border-radius: 10px;
    padding: 5px 5px;
    background-color: cadetblue;
    cursor: pointer;
    border-color: cadetblue;
    color: white;
    
    
}

.card button:hover{
    background-color:transparent;
    color: cadetblue;
}