
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 80px;
    grid-gap: 3px;
    padding: 3px;
    grid-template-areas: "header header"
                            "aside section"
                            "footer footer"         
    ;
   
}

header{
    background-color:khaki;
    grid-area: header;
}

aside{
    background-color: plum;
    grid-area: aside;
}
section{
    background-color:lightblue;
    grid-area: section;
}
footer{
    background-color: lightgreen;
    grid-area: footer;
}