@import "button";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

// @mixin button-style($bg-color)
// {
//     padding: 20px 30px;
//     background-color: $bg-color;
//     color: white;
//     border: none;
//     border-radius: 7px;

// }
// .blue{
//     @include button-style(blue);
// }
// .red{
//     @include button-style(red);
// }

// @mixin flexCenter(){
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// main{
//     height: 100%;
//     width: 100%;
//     background-color: black;
//     @include flexCenter();

//     section{
//      height: 50%;
//      width: 50%;
//      background-color:cadetblue;
//      @include flexCenter();
    
//     }

//     h1{
//         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
//     }
// }

.blue{
    @include button-style(blue,white,18px);
}
.red{
@include button-style(red,white,20px);
}
