*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
/* h1{
    background-color: aquamarine;
    display: inline;
}
#box{
    height: 100px;
    width: 100px;
    background-color: blue;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
} */

/* #parent{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    grid-template-rows: 10% 50% 10% 10%;
  
}
.box{
   
    background-color: rgb(243, 107, 134);
    border: 2px solid white;
} */

body{
    background-color:black;
}
/* h1{
    font-size: 100px;
    color: transparent;
    background-image: url(https://media2.giphy.com/media/v1.Y2lkPTZjMDliOTUyOW5jZnI3cHEya3Y1dHZnY2p4aDExb3V0dTMwMmQ5NjhucWZkbGxsMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NsDgwokd9edyc1IawD/giphy.gif);
    background-size: cover;
    background-clip: text;
    text-align: center;
} */

 /* h1{
    font-size: 200px;
    color:transparent;
    text-align: center;
    -webkit-text-stroke: 3px rgb(148, 9, 9);
 } */

 #parent{
    height: 400px;
    width: 100%;
    background-color: #333;
    padding: 30px;
    display: flex;
    gap:30px;
    flex-wrap: nowrap;
    overflow: auto;
 }

 #parent::-webkit-scrollbar{
    display: none;
 }
 .child{
    height: 100%;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    flex-shrink: 0;
 }

 .child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
 }